

/*=============== VARIABLES ===============*/
:root {
  --default-font: "Gantari", sans-serif;
  --pixel-font: "Press Start 2P", system-ui;

  /*========== Font weight ==========*/
  --weight-light: 200;
  --weight-normal:  300;
  --weight-semibold: 500;
  --weight-bold: 700;
  --weight-big: 900;

  /*========== Font size ==========*/
  --size-extra-small: 0.9rem;
  --size-small: 1.2rem;
  --size-normal:1.5rem; 
  --size-h5: 2rem ;
  --size-h4: 2rem ;
  --size-h3: 3rem ;
  --size-h2: 4rem ;
  --size-h1: 5rem;

  /* Font colors */
  --pink:#e65f91;
  --light-pink: rgba(234,194,255,1);
  --purple: #5f2ffd;
  --dark-purple: #401bb5;
  --light-blue: rgba(146,234,254,1);
  --orange: #ff955e;
  --white: #FFFFFF;
  --dark-gray: #181818;

  --gradient-bg-color:rgb(234,194,255);
  --gradient-top:linear-gradient(0deg, rgba(234,194,255,1) 25%, rgba(146,234,254,1) 88%);
  --gradient-slanted: linear-gradient(135deg, rgba(234,194,255,1) 25%, rgba(146,234,254,1) 88%);
  --gradient-left : linear-gradient(90deg, rgba(234,194,255,1) 25%, rgba(146,234,254,1) 88%);
  --gradient-bg-color:rgb(234,194,255);

  /* Folder icon variables */
  --folder-width: 150px;
  --folder-outline-width: 2px;
  --folder-angle: -35deg;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  letter-spacing: 2px;
}

body {
  font-family: var(--default-font);
  font-size: var(--size-normal);

  background-image: url("../assets/img/gray_bg_noise.png");
  background-repeat:  repeat;
  background-color: var(--dark-gray);
  color: var(--white);
  min-height: 100vh;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 520px) {
}

/* For large devices */
@media screen and (min-width: 992px) {
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */


div{
  padding: 0;
  margin: 0;
}

/*=============== HOME ===============*/
.home_row{
  min-height: 80vh;
}
.home_grid{
  position: absolute;
  left: 0;
  width: 70%;
  z-index: -10;
  opacity: 0.1;
}

.self_details{
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
}

.greeting{
  font-size: var(--size-h2);
  margin: 0;
  padding: 0;
}
.name{
  font-size: var(--size-h1);
  color: #6030ff;
  font-weight: 400;
  font-family: var(--pixel-font);
  margin-top:10px;
  transition: transform .2s;
}
.name:hover{
  transform: scale(1.2); 
}


.position{
  position: relative;
  top:5px;
  transition: transform .2s;
}
.position:hover{
  transform: scale(1.2); 
}




.blob{
  filter: drop-shadow( 3px 3px 5px rgba(0, 0, 0, .6));
  position: absolute;
  z-index: -5;
  width: 50%;
}


.explorer_window_home{
  padding: 1rem;
  max-width: 700px;
}

.link_bar{
  margin: 0;
  display: flex;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: rgb(234,194,255);
  background: linear-gradient(158deg, rgba(234,194,255,1) 25%, rgba(146,234,254,1) 88%);
  border: 2px solid white;
  border-bottom: none;
  height: 30px;
}
.link_content{
  border: 2px solid white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 5rem;
  padding-bottom: 0.5em;
}
.dot{
  height: 15px;
  width: 15px;
  background-color: #181818;
  border-radius: 50%;
  display: inline-block;
  margin: 7px 3px;
}


.social_links{
  margin-top: 3rem;
}
.social_links i{
  font-size: 50px;
  /* position: relative;
  right: 3px;
  top:7px; */

}
.social_icon_box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_icon_box{
  border: 2px solid white;
  padding: 0.6rem 0;
  color: var(--white);
  box-shadow: 10px 10px var(--purple);
  transition: 0.3s;
}

.social_icon_box:hover{
  box-shadow: 17px 17px var(--purple);
  transition: 0.3s;
	transform: translate(-5px, -5px);
}

.social_icon_box:active{
  box-shadow: 10px 10px var(--purple);
  transition: 0.3s;
	transform: translate(5px, 5px);
}

.folder{
  margin: 50px 0;
  display: inline-block;
  font-size: 0;
  text-align: center;
}
.folder_info{
  font-size: 1.2rem;
  width: 100%;
  padding-top: 10px;
  text-align: center;
  display: inline-block;
}


.folder_top {
	opacity: 0;
}

.folder_box label {
	cursor: pointer;
}
.folder_box{
		display: flex;
	align-items: center;
	justify-content: center;
}

.folder_inner_box {
	position: relative;
	width: var(--folder-width);
	height: calc(var(--folder-width) / 100 * 75);
	perspective: calc(var(--folder-width) * 5);
}

.folder_inner_box .document::before,
.folder_inner_box .document::after,
.folder_inner_box::before,
.folder_inner_box::after {
	position: absolute;
	content: "";
	border-radius: calc(var(--folder-width) / 100 * 5);
}

.folder_inner_box::before {
	width: 100%;
	left:1.5%;
	height: 90%;
	bottom: 0;
	outline: var(--folder-outline-width) solid white;
	border-top-left-radius:0;
	background-color: #181818;
}

.folder_inner_box .document::after {
	width: 90%;
	height: 85%;
	bottom: 0;
	left: 5%;
  background: var(--gradient-bg-color);
  background: var(--gradient-slanted);
	z-index: 2;
	transition: transform 250ms ease 0ms;
	transform: translate3d(0px, 0px, 0px);
}

.folder_inner_box .document::before {
	background-color: #181818;
	border: var(--folder-outline-width) solid white;
	width: 102%;
	height: 92%;
	bottom: 0;
	left: 0;
	z-index: 3;
	content: '';
	transition: transform 500ms ease 0ms;
	transform-origin: 0 100% 0;
	outline: 1px solid transparent; /* Firefox anti-aliasing hack */	
	transform-style: preserve-3d;
	display: flex;
	align-items: center;
	justify-content: center;
}

.folder_inner_box::after {
	top: -7%;
	left: 0;
	width: 40%;
	height: 17%;
	border: var(--folder-outline-width) solid white;
	border-bottom:none;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
		background-color: #181818;
	z-index: 1;
}

.folder_inner_box  .folder_top:hover + .document::before {
	transform: rotateX( var(--folder-angle)) skew(-4deg);
  box-shadow: 0 -2px 5px -2px rgba(0,0,0,0.4);
}
.folder_inner_box .folder_top:hover + .document::after {
	transform: translate3d(0px, -40px, 0px);
	transition: transform 150ms linear 10ms;
	box-shadow: 0 -2px 5px -2px rgba(0,0,0,0.4);
}



.scroll-icon {
  height: 3em;
  width: 1.5em;
  border: 2px solid #fff;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-icon__wheel-outer {
  height: 1em;
  width: .4em;
  border-radius: .4em;
  overflow: hidden;
  justify-content: center;
}

.scroll-icon__wheel-inner {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: #fff;
  animation: scroll_1 2.75s ease-in-out infinite;
}

.scroll-text{
  margin: 1rem 0 6rem;
}

@keyframes scroll_1 {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-0.6em); }
  50%  { transform: translateY(0); }
  75%  { transform: translateY(0.6em); }
  100% { transform: translateY(0); }
}

#about{
  padding-top: 2rem;
}
.about-row{
  justify-content: end;
}
.about-bar .dot{
  background-color: var(--white);
}

.about-bar{
  margin: 0;
  display: flex;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid white;
  border-bottom: none;
  height: 35px;
}
.about-content{
  border: 2px solid white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 2rem 1rem;
}

.about-bar .dot{
  margin-top: 10px;
}
.about-bar .dot:first-of-type{
  margin-left: 10px;
}

.about-col{
  margin-bottom: 2em;
  max-width: 100%;
  padding: 0.5rem;
}
.about-heading{
  font-family: var(--pixel-font);
  margin: 1rem 0 2rem;
  font-size: var(--size-h2);
}
.about-description{
  margin-bottom: 3rem;
  padding: 0 25px;
  text-align: justify;
}

.resume-link{
  font-family: var(--pixel-font);
  background-color: var(--purple);
  color: var(--white);
  font-size: 1rem;
  padding: 0.7rem 1.5rem;
  display: flex;
  align-items: center;
  border: 3px solid var(--white);
  border-radius: 5px;
  -webkit-box-shadow: inset -4px -6px 0px 4px var(--dark-purple);
  -moz-box-shadow: inset -4px -6px 0px 4px var(--dark-purple);
  box-shadow: inset -4px -6px 0px 4px var(--dark-purple);
}

.resume-link:active{
  -webkit-box-shadow: inset -3px -4px 0px 3px var(--dark-purple);
  -moz-box-shadow: inset -3px -4px 0px 3px var(--dark-purple);
  box-shadow: inset -3px -4px 0px 3px var(--dark-purple);
}


.resume-link i{
  position: relative;
  bottom:3px;
  right: 5px;
}

.shrey-gif-col{
  text-align: center;
  width: 100%;
}

.shrey_gif{
  margin-top: 20px;
  max-width: 350px;
  border-radius: 20px;
  filter: drop-shadow( 0px 0px 5px rgba(0, 0, 0, .5));
}

#skills{
  margin: 3rem auto ;
}
.skills-box{
  color: var(--dark-gray);
  padding: 1.5rem 0 1rem;
  border-radius: 5px;
  border: 3px solid var(--white);
  box-shadow: 10px 10px var(--purple);
}
.tech-stack-box{
  color: var(--white);
  margin-left: 1.2rem;
  margin-right: 1rem;
}
.tech-stack-heading{
  font-family: var(--pixel-font);
  font-size: var(--size-h5);
  font-weight: var(--weight-semibold);

}
.stack-info{
  font-size: var(--size-small);
  margin: 0 0.3rem 1rem 0.3rem;
}
.skills-icons-row{
  text-align: center;
  font-size: var(--size-extra-small);
}
.skill-icon{
  padding: 7px;
  margin: 2px;
  border: 2px solid var(--white);
  color: var(--white);
  position: relative;
  top: 3px;
  border-radius: 5px;
}
.skill-icon:hover{
  border: 2px solid var(--pink);
  color: var(--pink);
}
.skill-name{
  margin: 7px 0 15px;
  color: var(--white);
}





.home_globe {
  position: absolute;
  right: 10%;
  width: 40%;
  -webkit-animation:spin 50s linear infinite;
  -moz-animation:spin 50s linear infinite;
  animation:spin 50s linear infinite;
}
@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}



@media screen and (max-width: 650px) {
  .home_row{
    min-height: 50vh;
  }
  .self_details{
    margin: 6rem 0px 3rem;
  }
  .explorer_window_home{
    max-width: 100%;
    margin-bottom: 3rem;
  }
  :root{
    --size-extra-small: 0.8rem;
    --size-small: 1rem;
    --size-normal:1.2rem; 
    --size-h5: 1.6rem ;
    --size-h3: 2rem ;
    --size-h2: 2.5rem ;
    --size-h1: 3rem;
    --folder-width:80px;
    --folder-outline-width: 1.5px;
  }  
  .home_grid{
    width: 100%;
  }
  .link_bar{
    height: 20px;
  }
  .link_bar .dot{
    height: 10px;
    width: 10px;
    margin-top: 4px;
  }
  .about-bar{
    height: 25px;
  }
  .about-bar .dot{
    height: 10px;
    width: 10px;
    margin-top: 6px;
  }
  .folder{
    margin: 30px 0 ;
  }
  .folder_inner_box .folder_top:hover + .document::after {
    transform: translate3d(0px, -25px, 0px);
    transition: transform 150ms linear 10ms;
    box-shadow: 0 -2px 5px -2px rgba(0,0,0,0.4);
  }
  .link_content{
    padding-bottom: 0;
  }
  .folder_info{
    font-size: 0.8rem;
  }
  .shrey_gif{
    max-width: 60%;
  }
  .about-col{
    max-width: 100%;
    margin: 1.1rem 0;
  }
  .about-row{
    justify-content: center;
  }
  .about-heading{
    margin: 0.3rem 0 1.3rem;
  }
  .about-description{
    margin-bottom: 2.2rem;
    padding: 0 20px;
  }
}





